{% extends ":front:Front.html.twig" %}
{% block title %}Colloque ATM{% endblock  %}
{% block body %}

<div class="container">
						

  <section class="wrapper" >
       
          
           
            <div class="row animate-group">
                <div class="col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                    
                        <div class="icon-box-content">
                            <div align='left'><div align='justify'>
        <h1 id="present" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>1.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Présentation</b></font></h1>
 
        
        <p><font size="5"><b>L'Association Tunisienne de Marketing (ATM),</b> régie par la loi 1959 sur les associations, a été fondée, par un groupe d'enseignants en marketing, animée par le Professeur Mustapha ZGHAL, suite à l'autorisation du Ministère de l'Intérieur et du Développement Local (récépissé n°1813 du 1er Août 2002). Elle a pour mission de promouvoir la recherche académique et de parfaire la formation des jeunes spécialistes en marketing qu'ils soient du monde universitaire ou du monde des affaires. En effet, depuis sa création, l'ATM a constitué un espace privilégié de rencontre entre les enseignants en marketing de toutes les universités tunisiennes et étrangères, et un trait d'union entre les universitaires et les professionnels dans le domaine du marketing.</p>
        <p>Nous organisons cette année le 16<sup>ème</sup> Colloque International de <b>l’Association Tunisienne de Marketing</b> qui se tiendra les 06 et 07 Avril 2018 à Hammamet, sous le thème : <b>«Marketing et Culture»</b>. Le colloque accueillera des chercheurs Tunisiens et étrangers spécialisés en marketing et offrira l’opportunité à ces derniers de présenter leurs communications et leurs avancements en thèse. Ce colloque contribuera ainsi à améliorer la recherche en Tunisie et à servir les entreprises en mettant à leur disposition les résultats des recherches scientifiques en marketing menées sur le terrain. Il sera alors un cadre pour de fructueux échanges scientifiques entre académiciens et professionnels.   </font></p>
      <br>  <br>

      <h1 id="colloque" class="colloque" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>2.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Présentation du 16<sup>ème</sup> colloque de l’ATM</b></font></h1>
<p><font size="5">Le colloque de l’ATM est un<b> évènement scientifique annuel,</b> d’une journée et demie, organisé par un laboratoire ou unité de recherche différent chaque année. L’ATMC est l’occasion ultime pour découvrir les recherches et les méthodes marketing les plus avancées.</p>
<p>
Le 16ème Colloque International sera organisé <b>les 06 et 07 Avril 2018, à Hammamet en Tunisie,</b> par le Laboratoire Entreprise et Recherche en Marketing <b>(ERMA)</b> de la Faculté des Sciences Economiques et de Gestion de Tunis (FSEGT). C’est une manifestation à caractère scientifique regroupant des chercheurs Tunisiens et étrangers, visant à récompenser les efforts déployés par les universitaires et à sensibiliser les professionnels sur la nécessité de nouer de relations dans le domaine du marketing. Ce colloque contribuera ainsi à améliorer la recherche en Tunisie et à servir les entreprises en mettant à leur disposition les résultats des recherches scientifiques en marketing menées sur le terrain. Il constitue alors un cadre pour de fructueux échanges scientifiques entre académiciens et professionnels. Afin de garantir la bonne qualité de ce colloque, un comité d’évaluation scientifique international a été désigné pour assurer la sélection des communications.</p>
<p>
    Depuis plus d’une décennie, de nouvelles thématiques voient le jour suscitant ainsi chercheurs et académiciens en marketing à y prêter de l’attention et les étudier davantage. Nous citons, parmi tant d’autres, la gouvernance, le développement durable et la responsabilité sociétale de l’entreprise. Cette année, la 16<sup>ème</sup> édition du colloque de l’ATM tournera autour du thème du « Marketing et Culture».  En effet, la culture est l’ensemble des productions sociales. Elle est loin d’être figée. Elle se renouvelle, se spécialise et se recompose en permanence. La relation entre la culture et le comportement du consommateur a été étudiée depuis longtemps par les chercheurs en marketing. Cette facette du comportement du consommateur reste très prisée par les chercheurs. La famille, l’acculturation, la religiosité, etc., sont les principales dimensions de la culture. Les aspects reliés particulièrement à la religiosité intéressent depuis quelques années de nombreux marketeurs à travers le monde.
</p>
<p>
Un débat sous forme de table ronde, aura lieu au cours de la première après-midi du colloque. Il portera sur <b>«Le marketing des services islamiques»</b>. Ce débat regroupera des professionnels, des représentants de la société civile, des chercheurs ainsi que les participants au colloque de l’ATM, pour débattre le thème. Ce débat permettra de discuter de l’importance et des perspectives de développement des produits et services islamiques en Tunisie et à travers le monde. </font>
</p>
       
    <br><br>
    <h1 id="positionnement" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>3.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Positionnement & objectifs du 16<sup>ème</sup> colloque de l’ATM</b></font></h1>
        <font size="5"><p><b>En devenant sponsor :</b></p>
<p>
 <i class="fa fa-angle-double-right"> </i> &nbsp;Vous associez <b>l’image de votre marque</b> à un événement scientifique de prestige et d’envergure nationale et internationale.</p>
 <p>
 <i class="fa fa-angle-double-right"> </i>&nbsp; Vous touchez un<b> public ultra ciblé </b>de chercheurs universitaires et de professionnels dans le domaine du marketing, grâce à nos différents supports de communication.
 </p>
 <p>
 <i class="fa fa-angle-double-right"> </i>&nbsp; Pour partager <b>de grandes valeurs</b> scientifiques en notoriété, crédibilité, légitimité et considération. Vous intégrez votre marque dans de grandes valeurs scientifiques ce qui vous permettra d’améliorer votre notoriété, crédibilité, légitimité et considération.
 </p>
 <p>
 <i class="fa fa-angle-double-right"> </i>&nbsp; Vous assurez  une <b> couverture médiatique </b> qui permettra d'accroître votre visibilité.
 </p>

</font></p>
      <br>  <br>
         <h1 id="partenaire" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>4.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Partenariat scientifique et professionnel</b></font></h1>
  <p><font size="5">
 Une nouveauté pendant cette édition 2018. Notre partenaire <b><i>International Journal of Islamic Marketing & Branding (IndersciencePublishers)</b></i> a prévu un numéro spécial en 2018 sur le thème du marketing Islamique dans le Maghreb arabe. Huit <b>papiers en anglais</b> seront sélectionnés parmi les communications acceptées lors du colloque, en vue de publication dans ce numéro spécial, qui paraîtra au mois de décembre 2018. De même, les meilleurs papiers <b> en langue arabe</b> seront sélectionnés pour être publiés dans<b><i> Journal of Islamic Entrepreneurship.</b></i>
</font></p><br><br>
 <h1 id="prix" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>5.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les Prix attribué aux meilleures communications</b></font></h1>
 <p><font size="5">Le comité scientifique décernera plusieurs prix aux meilleures communications se rapportant aux thèmes spécifiques de cette 16<sup>ème</sup> édition du colloque :</p>
 <p> 1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le prix de <b>l’Institut Laamouri</b> qui sera attribué à la meilleure communication sur la base de l’originalité de la problématique traitée et de la rigueur du design de la recherche menée.</p>

<p>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le Prix <b>Sphinx</b> sera attribué à la meilleure communication sur la base de la <b> méthodologie qualitative et quantitative poursuivie.</b></p>

<p>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le Prix de <b><i>l’International Journal of Islamic Marketing and Branding</b></i> sera attribué à la meilleure communication relative au marketing islamique. Les huit meilleurs papiers acceptés, rédigés en anglais et traitant du sujet du marketing islamique seront publiés dans un numéro spécial du journal.</p>

<p>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>D’autres prix peuvent être proposés éventuellement par nos partenaires et sponsors.</b></p><br><br><br>
                                </div></div>
                    </div>
    </div>
                </div></div>
</section>
	</div>
	
<style>
/* WHAT YOU NEED */
.fading-side-menu.affix-top {
    opacity: 1;
    transition: opacity 1s
}
.fading-side-menu.affix {
    top: 11.5px;
}
.fading-side-menu.affix {
    opacity: 0.2;
    transition: opacity 5s
}
.fading-side-menu.affix:hover {
    opacity: 1;
    transition: opacity 0.3s
}
.fading-side-menu a {
    color: rgb(102, 102, 102);
}
.fading-side-menu a .fa {
    padding-right:15px;
}
hr { 
  border : 0;
  height: 10px; 
  background-image: linear-gradient(to right, rgb(252, 239, 71), rgb(52, 53, 109),rgb(252, 239, 71));
}
body {
    color: #000000;}
i {
    color: #131658;
}

</style>

           
   

{% endblock %}
