{% extends ":front:Fronten.html.twig" %}
{% block title %}Colloquy ATM{% endblock  %}
{% block body %}

<div class="container">
						

  <section class="wrapper" >
       
          
           
            <div class="row animate-group">
                <div class="col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                    
                        <div class="icon-box-content">
                            <div align='left'><div align='justify'>
        <h1 id="present" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>1.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Presentation</b></font></h1>
 
        
        <p><font size="5"><b>The Tunisian Association of Marketing (ATM),</b> governed by the Law 1959 on associations, was founded by a group of marketing teachers, led by Professor Mustapha ZGHAL, following the authorization of the Ministry of the Interior And Local Development (receipt no. 1813 of 1 August 2002). Its mission is to promote academic research and to improve the training of young marketing specialists from academia and business. Indeed, since its creation, the ATM has been a privileged space for meeting the marketing teachers of all the Tunisian and foreign universities and a link between academics and professionals in the field of marketing.</p>
        <p>We are organizing this year the 16th International Symposium of <b>the Tunisian Association of Marketing</b> which will be held on 06 and 07 April 2018 in Hammamet under the theme: <b>«Marketing and Culture»</b>.  The symposium will welcome Tunisian and foreign researchers specialized in marketing and will offer the opportunity to the latter to present their papers and their advances in thesis. This symposium will thus contribute to improving research in Tunisia and to serving companies by making available to them the results of scientific research in marketing carried out in the field. It will then be a setting for fruitful scientific exchanges between academics and professionals.
   </font></p>
      <br>  <br>

      <h1 id="colloque" class="colloque" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>2.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Presentation of the 16th ATM Symposium</b></font></h1>
<p><font size="5">The ATM Symposium is<b>a one-and-a-half-day annual scientific event ,</b> organized by a different laboratory or research unit each year. The ATMC is the ultimate opportunity to discover the most advanced research and marketing methods.
</p>
<p>
    The 16th International Symposium will be held on <b>06 and 07 April 2018 in Hammamet, Tunisia,</b>by the Laboratory for Enterprise and Research in Marketing <b>(ERMA)</b> of the Faculty of Economics and Management of Tunis (FSEGT). It is a scientific event bringing together Tunisian and foreign researchers, aimed at rewarding the efforts of academics and educating professionals on the need to develop relationships in the field of marketing. This symposium will thus contribute to improving research in Tunisia and to serving companies by making available to them the results of scientific research in marketing carried out in the field. It constitutes a framework for fruitful scientific exchanges between academics and professionals. In order to ensure the quality of this symposium, an international scientific evaluation committee has been appointed to ensure the selection of communications.</p>
<p>
    For more than a decade,  new themes have emerged that have prompted researchers and academics in marketing to pay attention and study more. We cite, among many others, governance, sustainable development and corporate social responsibility. This year, the 16th ATM Symposium will revolve around the theme of "Marketing and Culture". Indeed, culture is the totality of social productions. It is far from being frozen. It is renewed, specializes and recomposes permanently. The relationship between culture and consumer behavior has been studied for a long time by marketing researchers. This facet of consumer behavior remains highly valued by researchers. Family, acculturation, religiosity, etc., are the main dimensions of culture. In the last few years, many aspects related to religiosity have attracted many marketers throughout the world.</p>
<p>
    A panel discussion will take place during the first afternoon of the symposium. It will focus on "The marketing of Islamic services". This debate will bring together professionals, civil society representatives, researchers and ATM conference participants to discuss the issue. This debate will discuss the importance and prospects of development of Islamic products and services in Tunisia and around the world.</p>
       
    <br><br>
    <h1 id="positionnement" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>3.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Positioning & Objectives of the 16th ATM Symposium </b></font></h1>
        <font size="5"><p><b>By becoming a sponsor: </b></p>
<p>
 <i class="fa fa-angle-double-right"> </i> &nbsp;You combine <b> your brand image </b> with a prestigious, national and international scientific event.</p>
 <p>
 <i class="fa fa-angle-double-right"> </i>&nbsp; You are reaching a <b> targeted audience </b> of academic researchers and professionals in the field of marketing through our various communication media.
 </p>
 <p>
 <i class="fa fa-angle-double-right"> </i>&nbsp; o share <b> high scientific values ​​</b> in notoriety, credibility, legitimacy and consideration. You integrate your brand into major scientific values ​​which will allow you to improve your reputation, credibility, legitimacy and consideration.
 </p>
 <p>
 <i class="fa fa-angle-double-right"> </i>&nbsp; Ensure a <b> media coverage </b> that will increase your visibility.
 </p>

.</font></p>
      <br>  <br>
         <h1 id="partenaire" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>4.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scientific and Professional Partnership</b></font></h1>
  <p><font size="5">
      A novelty during this 2018 edition. Our partner <b> <i> International Journal of Islamic Marketing & Branding </b> </i> has planned a special issue in 2018 on Islamic marketing in the Arab Maghreb . Eight <b> papers in English </b> will be selected from papers accepted at the symposium, to be published in this special issue, which will be published in December 2018. Also, the best Arabic <b> papers </B> will be selected for publication in <b> <i> Journal of Islamic Entrepreneurship.</i> </B>
</font></p><br><br>
 <h1 id="prix" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>5.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Awards for Best Communications</b></font></h1>
 <p><font size="5">The Scientific Committee will award several prizes to the best papers related to the specific themes of this 16 th symposium: </p>
 <p> 1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The <b> Laamouri Institute </b> prize will be awarded to the best communication on the basis of the originality of the issue addressed and the rigorous design of the research carried out. </P>

<p>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The <b> Sphinx </b> Award will be awarded to the best communication on the basis of the <b> Qualitative and Quantitative Methodology pursued </b> </p>

<p>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The award for <b> <i> the International Journal of Islamic Marketing and Branding </b> </i> will be attributed to the best communication on Islamic marketing. The eight best accepted papers, written in English and dealing with the topic of Islamic marketing, will be published in a special issue of the newspaper. </P>

<p>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B> Other prizes may be offered by our partners and sponsors. </B> </p> <br> <br> <br>
                                </div></div>
                    </div>
    </div>
                </div></div>
</section>
	</div>
	
<style>
/* WHAT YOU NEED */
.fading-side-menu.affix-top {
    opacity: 1;
    transition: opacity 1s
}
.fading-side-menu.affix {
    top: 11.5px;
}
.fading-side-menu.affix {
    opacity: 0.2;
    transition: opacity 5s
}
.fading-side-menu.affix:hover {
    opacity: 1;
    transition: opacity 0.3s
}
.fading-side-menu a {
    color: rgb(102, 102, 102);
}
.fading-side-menu a .fa {
    padding-right:15px;
}
hr { 
  border : 0;
  height: 10px; 
  background-image: linear-gradient(to right, rgb(252, 239, 71), rgb(52, 53, 109),rgb(252, 239, 71));
}
body {
    color: #000000;}
i {
    color: #131658;
}

</style>

           
   

{% endblock %}
