{% extends ":front:Front.html.twig" %}

{% block title %}Soumettre{% endblock  %}
{% block body %}

    <section class="wrapper" style="min-height: 400px; background-image: url(&quot;/pfe/web/font/images/photodune-4043508-3d-modern-office-room-l.jpg&quot;); background-position: 0px -143.517px;" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="-750">
        <div class="container">
           

            <div class="col-md-8">
                <div class="row animate-group">
                    <div class="col-md-offset-2 col-md-12 col-sm-12">
                        <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                            <i class="icon-box-icon fa fa-pencil"></i>
                                 {% if is_granted('ROLE_EVAL') or is_granted('ROLE_ADMIN') %}
                                {% include ':front:profil.html.twig' %}
                            {%else%}
                                {% if is_granted('ROLE_CHERCH') %}
                                    {% include ':front:ProfilChercheur.html.twig' %}
                            {%endif%}{%endif%}
         
                            <h1 align="left" class="icon-box-title">
                                     <b> <font color='#0d0b6f'>  Choisir un type de soumission  </font></b></h1><br><br>
          
                            <div class="icon-box-content">  
                             <div class="row">
                                     <div class="col-sm-6">
                                         <input type="button" class="caption lft button orange glossy slide_btn slide_item_left" value="Atelier doctoral" onclick=" relocate_home()"><br><br>

<script>
function relocate_home()
{
     location.href = "{{  path('tuto_soumission_ajout') }}";
     
} 
function relocate_home1()
{
     location.href = "{{  path('tuto_soumission1_ajout') }}";
} 
function relocate_home2()
{
     location.href = "{{  path('tuto_soumission2_ajout') }}";
} 
function relocate_home3()
{
     location.href = "{{  path('tuto_soumission3_ajout') }}";
} 
</script>
<style>
input, button, select, textarea {
    font-family: cambria;
    font-size: x-large;
        
    line-height: unset;
}
</style>                                <input type="button" class="caption lft button orange glossy slide_btn slide_item_left" value="Papier de communication" onclick=" relocate_home1()"><br><br>
<input type="button" class="caption lft button orange glossy slide_btn slide_item_left" value="Poster" onclick=" relocate_home2()"> <br><br>  <input type="button" class="caption lft button orange glossy slide_btn slide_item_left" value="Etude des cas" onclick=" relocate_home3()"><br>
                                     </div>
                                     </div>
                            </div>
                               
                         
        
                                           
                                       
                                    </div>
                                    
                                    </div>
                                </div>
                                    
                            </div>

                                    </div>


              
                                    
        </section>

    {% endblock %}