{% extends ":front:Fronten.html.twig" %}
{% block title %}GUIDE POUR REVIEWERS COLLOQUE ATM  {% endblock  %}
{% block body %}
 <div class="container">
						

  <section class="wrapper" >
       
          
           
            <div class="row animate-group">
                <div class="col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                    
                        <div class="icon-box-content">
                            <div align='left'><div align='justify'>
                                    <p><font size="5">To become a reviewer at <b>the ATM Symposium</b>, you must register and obtain an "account reviewer" on the website <a href="www.colloque-ATM.com">www.colloque-ATM.com</a> .</p>

<p>The reviewer account has a dual purpose. It allows you to be both a reviewer and / or author (to submit a paper).</p>

<p>Having received an invitation by e-mail to be part of the reviewers of the symposium and confirmed its availability, the reviewer consults his account on the platform to access the articles assigned to him. </p>

<p>In return, he must write and return his remarks on the platform, filling in the evaluation form provided by the ATM Scientific Committee. He must make clear his judgment on:
</p><br>
<p><b>• Acceptance</b><br>
<b>•  Acceptance under minor corrections</b> <br>
<b>•  Acceptance under major corrections</b><br>
<b>•  The refusal of work.</b></p>

<p>The reviewers must also express <b> their opinions </b> on the substance and form of the paper and suggest the modifications necessary for its improvement.
 </p>

<p>It should be noted that the submitted manuscripts will be subject to an anonymous evaluation process by two evaluators. In case the two opinions diverge (acceptance + refusal), the paper will be evaluated by a third reader.</p>

<p><b>The decision and the evaluation sheets</b> of the two reviewers shall be communicated to the author in the event of refusal or acceptance. The anonymity of the reviewers is totally preserved </p></font>

                                </div></div>
                    </div>
    </div>
                </div></div>
</section>
	</div>

<style>
body {
    color: #000000;}

i {
	color: #131658;
}

</style>
{%endblock%}