{% extends ":front:Front.html.twig" %}
{% block title %}vérifier le courriel{% endblock  %}
{% block body %}

    <section class="wrapper">
        <div class="container">

            <div class="row animate-group">
                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                        <i class="icon-box-icon fa fa-pencil"></i>

                        {% trans_default_domain 'FOSUserBundle' %}
                        <b>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</b>
                        <style>
                            b, strong {
                                font-weight: 900;
                              
                                color: #364f6a;}
                            </style>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock%}