{% extends ":front:Fronten.html.twig" %}
{% block title %}Doctoral workshop{% endblock  %}
{% block body %}



    <div class="container">


        <section class="wrapper" >
            <div class="container">


                <div class="row animate-group">
                    <div class="col-sm-12">
                        <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">

                            <div class="icon-box-content">
                                <div align='left'>
                                    <div class="row">
                                        <div class="col-md-12"> 
                                            <div align='justify'>
                                                <h2 id="atelier" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>1.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ATMC Doctoral Workshop</b></font></h2><br>


                                                <h3><p>The doctoral workshop of the symposium invites the PhD students who have made considerable progress in their theses to discuss their work during a 40-minute presentation in the presence of a panel of 8 to 10 eminent academics. </p>
                                                    <p>The ATM Doctoral Workshop is an international and friendly meeting place. It is a unique opportunity to refine its research questions, publish its work, benefit from the valuable advice of the professors in order to better define the potential directions of research.
                                                    </p>
                                                    <p>During the doctoral workshop, each participant will have 15 minutes to present his / her work (maximum 15 slides) in French or in English and discuss his / her work with all the researchers present.
                                                    </p>
                                                    <p>At the end of their presentation, students will benefit from comments and suggestions on their research, made by a group of experienced researchers. They will also receive comments and advice from their counterparts.
                                                    </p></h3>

                                                <h2 id="soumission" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>2.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Submission for the Doctoral Workshop</b></font></h2><br>


                                                <h3><p><b>To submit a thesis proposal for the doctoral workshop, please follow the instructions below:
                                                        </b></p><br>
                                                    <p>  <i class="fa fa-file-text-o"></i>&nbsp; Click here and carefully read the rules for submission to the ATM Doctoral Workshop before starting the submission procedure</p>
                                                    <p>  <i class="fa fa-file-text-o"></i>&nbsp; Click here to submit to the ATM Doctoral Workshop </p>
                                                    <p> <i class="fa fa-file-text-o"></i>&nbsp; An acknowledgment of receipt will be sent by email.</p></h3>

                                                <h2 id="objectifs" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>3.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The objectives of the doctoral colloquium</b></font></h2><br>

                                                <h3> <p><b>
                                                            The objective of the doctoral colloquium is to:</b></p>
                                                    <p><i class="fa fa-check-circle-o"></i>&nbsp;Promote the development of quality doctoral research in the community.</p>
                                                    <p><i class="fa fa-check-circle-o"></i>&nbsp;To allow PhD students to discuss their research work with experienced teachers in the supervision of PhD students </p> 
                                                    <p><i class="fa fa-check-circle-o"></i>&nbsp;Share their research concerns with their peers. </p> 
                                                    <p><i class="fa fa-check-circle-o"></i>&nbsp;Benefit from external perspectives, complementary to those of their thesis supervisor,
</p>  
                                                    <p><i class="fa fa-check-circle-o"></i>&nbsp;Exchange with senior and junior marketing researchers</p> </h3>
                                                <br>
                                                <h3>  <p><b>The symposium is aimed at different profiles of students:</b></p>
                                                    <p><i class="fa fa-check-circle-o"></i>&nbsp;Students who have reached an intermediate stage of their research, the subject and the research plan must be stabilized and presented in detail without risk of being modified later.</p> 
                                                    <p><i class="fa fa-check-circle-o"></i>&nbsp;Students at a less advanced stage of research development, where the subject, the research problem, the conceptual framework and the research model need to be better defined and stabilized.
</p> 

                                                    <p>This doctoral colloquium must therefore be seen as an aid and support for doctoral students. The expected contribution is theoretical (conceptual) and / or methodological.</p></h3>


                                                <h2 id="choix" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>4.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The choice of a profile type</b></font></h2><br>

                                                <h3><p>The doctoral workshop is open to all doctoral students who have not yet submitted their theses. The selection will be made by the Scientific Committee on the basis of a 15-page synthesis (excluding appendices and bibliography) which clearly describes the research work envisaged <b>(see STYLE ADVANCEMENT THESIS ATMC)</b> to download from www.atm-conference .com .</p>

                                                    <p>Successful applicants will send an update of the progress of their theses before the symposium, taking into account the comments of the evaluators and the progress of their work, in order to discuss on the basis of updated proposals.</p></h3>

                                                <br><br>
                                                <h3>  <p><b>Deadlines and submission of the application:</b><br>Students wishing to submit their research must submit a 15-page abstract by e-mail before <b> 01 December 2017 </b> (deadline date), following the submission instructions on www.atm-conference.com
</p></h3>


                                                <h2 id="session" class="title"  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>4.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Training sessions</b></font></h2><br>

                                                <h3><p>PhD students and researchers will benefit from three plenary sessions open to all participants on topics related to methodological aspects and data analysis. These sessions will be held on Friday and Saturday. </p></h3>

                                                <h2 id="calendrier" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>5.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Detailed calendar</b></font></h2>



                                                <h3><p><b>Deadline for receipt:</b></p>
1st December 2017</h3>


                                                <h2 id="regle" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>6.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rules for presentation of papers :</b></font></h2><br>


                                                <h3><p>The rules of style to respect are indicated on the site ATM (see STANDARD SHEET PRESENTATION PPT).</p>

                                                    <b>Presentation</b> of up to 15 pages </h3>


                                                <h2 id="frais" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>7.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The registration fee
</b></font></h2><br>


<h3><p>Registration for the doctoral workshop for doctoral students is 2222 dinars (see more detail <b>REGISTARTION</b>). This registration covers the accommodation costs of the night from 06 to 07 April 2018, documents, meals and breaks. </p></h3><br><br>


                                            </div></div>
                                    </div>
                                </div>
                            </div></div>
                        </section>
                    </div>
                    <style>
                        /* WHAT YOU NEED */
                        .fading-side-menu.affix-top {
                            opacity: 1;
                            transition: opacity 1s
                        }
                        .fading-side-menu.affix {
                            top: 11.5px;
                        }
                        .fading-side-menu.affix {
                            opacity: 0.2;
                            transition: opacity 5s
                        }
                        .fading-side-menu.affix:hover {
                            opacity: 1;
                            transition: opacity 0.3s
                        }
                        .fading-side-menu a {
                            color: rgb(102, 102, 102);
                        }
                        .fading-side-menu a .fa {
                            padding-right:15px;
                        }
                        hr { 
                            border : 0;
                            height: 10px; 
                            background-image: linear-gradient(to right, rgb(252, 239, 71), rgb(52, 53, 109),rgb(252, 239, 71));
                        }








                        body {
                            color: #000000;
                            font-family: cambria;}

                        i {
                            color: #131658;
                        }

                    </style>

                {% endblock %}
