{% extends ":front:Front.html.twig" %}
{% block title %}Questions Souvent Posées  (FAQ){% endblock  %}
{% block body %}
<article class ="content col-sm-12 col-md-12">
<br>
<br>
<br>




<article>

<center><p><h3><b>Qu'est-ce que ATM</b></h3></p></center>
<br>

<p ><font size="3">c'est le premier site Web pour l'association tunisienne de marketing ou les gens peuvent poster des communications dans le domaine de marketing <br>Les manuscrits soumis feront l'objet d'un processus d'évaluation anonyme par deux relecteurs. Les communications acceptées seront regroupées en thèmes homogènes et présentées lors de sessions animées par des présidents de séances. Au cas où il y a 2 avis diffèrent (acceptation + refus), le papier sera évalué par un 3ème lecteur. </font>
</p>
<p style="font-size: 20px">
 <b>Quand je peut publier sur votre site? </b></p>


<p ><font size="3">------- </p></font>


<p style="font-size: 20px"><b>Comment puis-je inscrire et comprendre ce qui me convient le mieux?</p></b>

<p ><font size="3">
<ul>
<li>le compte d'un deposeur de papier: un compte client est celui a partir duquel les clients affichent les taches ou les petits travaux dont ils ont besoin d'aide.</li>
<li>Un compte d'evaluateur: un compte professionnel est quelqu'un qui peut aider a  un emploi ou une tache (Freelancers, entreprises ...).</li></ul>
<ol>
<li>Cliquez sur le bouton "s’inscrire" dans le menu principal</li>
<li>Choisissez soit « chercheur » ou « evaluateur» 
<li>Mettre a  jour votre compte a  vos préférences. Cela inclut les photos de profil, des compétences supplémentaires et des détails personnels, etc.</li></ol></font></p>
<p style="font-size: 20px"><b>Comment puis-je récupérer mon compte?</p></b>

<p ><font size="3">Cliquez sur <i>"Mot de passe oublié?"</i> Il vous redirigera vers une nouvelle page ou vous etes invite à  entrer l'e-mail associée au compte. Un e-mail sera alors envoyé avec un lien pour vous aider à  réinitialiser le mot de passe de votre compte.</font></p>

<p style="font-size: 20px"><b>Quels navigateurs web sont pris en charge par votre site?</p></b>

<p ><font size="3">
<ul type="square"> <b>PC:</b>
<li>Chrome</li>
<li>Firefox</li>
<li>Safari</li>
<li>Opera</li>
<li>Internet Explorer</li></ul></font></p>
<br>
<p ><font size="3">
<ul type="square"> <b> MAC:</b>
<li>Safari</li>
<li>Firefox</li>
<li>Chrome</li></ul></font></p>


<center><p><h3><b>Questions relatives aux évaluateurs</b></h3></p></center>

<br>

<p style="font-size: 20px"><b>Comment puis-je inscrire comme évaluateur?</p></b>

<p ><font size="3">Inscrivez-vous en tant que Evaluateur. C'est tout. </font></p>

<p style="font-size: 20px"><b>Je suis inscrit comme évaleuateur, comment puis-je procéder?</p></b>

<p ><font size="3"> nous  vous enverra toutes les demandes .... </font><p>

<p style="font-size: 20px"><b>Combien coute vos services?</p></b>

<p ><font size="3">Il n'y a absolument aucun cout pour utiliser nos services ici à  <a href="www.colloque-ATM.com"></a>. </font><p>




<center><p><b><h3>Questions relatives aux déposeur de papiers</h3></b></p></center>

<br>


<p style="font-size: 20px"><b>Qui peuvent déposer des papiers?</p></b>

<p ><font size="3">Les jeunes spécialistes en marketing qu'ils soient du monde universitaire ou du monde des affaires.  </font></p>

<p style="font-size: 20px"><b>Quelles sont les étapes que je dois passer pour enregistrer en tant que client?</p></b>

<p ><font size="3">Dans la page d'inscription choisissez « chercheur ».
Remplissez le formulaire qui apparait. </font>

<p style="font-size: 20px"><b>Combien coute notre service?</p></b>

<p ><font size="3">Il n'y a absolument aucun cout pour utiliser nos services ici à  <a href="www.colloque-ATM.com"></a>. </font><p>

<p style="font-size: 20px"><b>Comment sécuriser mes informations?</b></p>

<p ><font size="3">En ATM nous comprenons l'importance de la vie privée, d'ou nous gardons des normes trés élevées de sécurité de l'information. Votre information ne sera pas donnée à  toutes les autres parties et ne sera pas utilisé en aucune façon nuisible. </font></p>
</article>
{% endblock %}
