{% extends ":front:Fronten.html.twig" %}
{% block title %}Frequently asked questions  (FAQ){% endblock  %}
{% block body %}
<article class ="content col-sm-12 col-md-12">
<br>
<br>
<br>




<article>

<center><p><h3><b>What is ATM</b></h3></p></center>
<br>

<p ><font size="3">This is the first website for the Tunisian marketing association or people can post communications in the marketing field <br> Submitted manuscripts will be subject to an anonymous evaluation process by two reviewers. Accepted papers will be grouped into homogeneous themes and presented in sessions facilitated by chairs of sessions. In case there are 2 different opinions (acceptance + refusal), the paper will be evaluated by a third reader.</font>
</p>
<p style="font-size: 20px">
 <b>When can I publish to your site?
</b></p>


<p ><font size="3">------- </font></p>


<p style="font-size: 20px"><b>How do I register and understand what suits me best?
</p></b>

<p ><font size="3">
<ul>
<li>The account of a paper depositor:</li>
<li>An evaluator account:</li></ul>
<ol>
<li>Click on the "register" button in the main menu
</li>
<li>Choose either "researcher" or "evaluator"
 
<li>Update your account to your preferences. This includes profile photos, additional skills and personal details, etc.
</li></ol></font></p>
<p style="font-size: 20px"><b>How can I recover my account?
</p></b>

<p ><font size="3"> Click <i> "Forgot Password?" </ i> It will redirect you to a new page where you are prompted to enter the email associated with the account. An e-mail will then be sent with a link to help you reset your account password.</font></p>

<p style="font-size: 20px"><b>Which web browsers are supported by your site?
</p></b>

<p ><font size="3">
<ul type="square"> <b>PC:</b>
<li>Chrome</li>
<li>Firefox</li>
<li>Safari</li>
<li>Opera</li>
<li>Internet Explorer</li></ul>
<br>

<ul type="square"> <b> MAC:</b>
<li>Safari</li>
<li>Firefox</li>
<li>Chrome</li></ul>

</font></p>
<center><p><h3><b>Evaluator Issues</b></h3></p></center>



<p style="font-size: 20px"><b>How do I register as an evaluator?
</p></b>

<p ><font size="3">Sign up as an Evaluator. That's all.</font>
</p>

<p style="font-size: 20px"><b>I am registered as an evaluator, how do I proceed?
</p></b>

<p ><font size="3"> We will send you all requests ....</font>
<p>

<p style="font-size: 20px"><b>How much does your service cost?
</p></b>

<p ><font size="3">There are absolutely no costs to use our services here at
 <a href="www.colloque-ATM.com"></a>.</font><p>




<center><p><b><h3>Questions about paper depositors
</h3></b></p></center>




<p style="font-size: 20px"><b>Who can upload papers?
</p></b>

<p ><font size="3">Young marketing specialists from academia and business.</font>
 .</p>

<p style="font-size: 20px"><b>What steps do I need to take to register as
evaluator?</p></b>
 <p ><font size="3">On the registration page choose "researcher".
Fill out the form that appears.</font></p>

<p style="font-size: 20px"><b>How much does your service cost?</p></b>

<p ><font size="3">There are absolutely no costs to use our services here at <a href="www.colloque-ATM.com"></a>.</font><p>

<p style="font-size: 20px"><b>How do I secure my information?</b>
</p>

<p ><font size="3">In ATM we understand the importance of privacy, where we keep very high standards of information security. Your information will not be given to all other parties and will not be used in any way harmful.</font></p>
</section>

{% endblock %}
