{% extends ":front:Front.html.twig" %}

{% block title %}changer votre Mot De Passe{% endblock  %}
{% block body %}
      <section class="wrapper">
        <div class="container">

            <div class="row animate-group">
                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                        <i class="icon-box-icon fa fa-pencil"></i>
                        <div class="icon-box-content">
                             <div class="horizontal-form margin-bottom-40">
       
          {% if is_granted('ROLE_EVAL') or is_granted('ROLE_ADMIN') %}
        {% include ':front:profil.html.twig' %}
        {%else%}
         {% include ':front:ProfilChercheur.html.twig' %}
            {%endif%}  
            <br>
           

 

                {% trans_default_domain 'FOSUserBundle' %}

                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div>
                    
                    <button type="submit" class="button orange glossy  btn-lg" value="{{ 'change_password.submit'|trans }}"><h3><font color="white"><b>Enregistrer</b></font></h3></button> <b><font color="red">  champ obligatoire *  </font></b>
                </div>
                 <style>
                         .button.orange {
                            width: 170px;
                            height:70px;
                            background-color: #FF4500;
                          
                        }
                       


                    </style>
                {{ form_end(form) }}
         
                             </div></div></div></div></div></div>
      </section>
{%endblock%}