{% extends ":front:Fronten.html.twig" %}

{% block title %}ATM{% endblock  %}
{% block body %}
    
        <div class="container">
        <div class="row">
        <div class="col-md-6">
        <p><b>The Tunisian Association of Marketing (ATM) </ b>, governed by the Associations Act 1959, was founded by a group of marketing teachers, led by Professor Mustapha ZGHAL, following the authorization of the Ministry Interior and Local Development (receipt no. 1813 of 1 August 2002). </ P> <p> Its mission is to promote academic research and to improve the training of young marketing specialists from academia and business. </ p> <p> Its creation, the ATM has been a privileged space for meeting the marketing teachers of all Tunisian and foreign universities and a link between academics and professionals in the field of marketing.</p>

        </div></div></div>
        <div class="row animate-group">
                <div class="col-md-6">
<section class="wrapper" style="min-height: 400px; background-image: url(&quot;/atm/web/font/images/photodune-4043508-3d-modern-office-room-l.jpg&quot;); background-position: 0px -143.517px;" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="-750">
            
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                        
                        <div class="icon-box-content">

           
                <div class="grid-container animate-group" data-animation-interval="100">

                  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1zuiTB_WIy9L1GnMKGeGgu3C87xU" width="450" height="480"></iframe> 

                                    </div></div></div>  </div>


                                    <div class="row animate-group">
                <div class="col-md-6">
<section class="wrapper" style="min-height: 400px; background-image: url(&quot;/atm/web/font/images/photodune-4043508-3d-modern-office-room-l.jpg&quot;); background-position: 0px -143.517px;" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="-750">
            
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                        
                        <div class="icon-box-content">

           
                <div class="grid-container animate-group" data-animation-interval="100">

                 <div class="fb-post" 
      data-href="https://www.facebook.com/20531316728/posts/10154009990506729/"
      data-width="500"></div>

                                    </div></div></div>  </div>


                    </div>
                </div>

            </div>
        </div>
    </section>

    <script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5" 
      async></script>
{%endblock%}
