{% extends ":front:Front.html.twig" %}
{% block title %}Ethique de soumission au colloque{% endblock  %}
{% block body %}

  <div class="container">
						

  <section class="wrapper" >
       
          
           
            <div class="row animate-group">
                <div class="col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                    
                        <div class="icon-box-content">
                            <div align='left'><div align='justify'>

        <h1  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>1.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ETHIQUES DE SOUMISSION AU COLLOQUE</b></font></h1><br>

        <p><font size="5">Afin d’assurer la fiabilité, la crédibilité et la qualité des communications soumises et acceptées au colloque de l’ATM, les chercheurs doivent respecter les normes d’éthique des recherches académiques et scientifiques. En effet, le Colloque de l’ATM suit un code déontologique de conduite strict visant à respecter les normes académiques et scientifiques. Le colloque insiste sur le respect des meilleures pratiques en termes de recherche et ce en évitant les comportements bannis par la Communauté Scientifique Internationale .</font></p><br><br>

        <div class="row">
            <div class="col-md-8">
                <div class="panel-group accordion-custom accordion-teal" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="icon-arrow"></i>
                                    <b><font size="5">PLAGIAT</font></b>
                                </a></h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">

                                <p>
                                    <font size="5">Il faut s'engager à publier uniquement des documents originaux. Les travaux qui ont été plagiés d'une recherche appartenant à d'autres auteurs , qu'elle soit publiée ou non, seront sanctionnés pour plagiat.</font>
                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <i class="icon-arrow"></i>
                                    <b><font size="5">SOUMISSION EN DOUBLE</font> </b>
                                </a></h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">

                                <p>
                                    <font size="5">Les travaux qui ont été publiés ou en cours de publication dans d’autres colloques ou revues ne peuvent être au même temps soumis au Colloque de l’ATM, sous peine de sanction pour double soumission. </font>
                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <i class="icon-arrow"></i>
                                    <b><font size="5">CONTRIBUTION OU ATTRIBUTION INAPPROPRIEE DE L’AUTEUR</font></b>
                                </a></h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">

                                <p>
                                    <font size="5">Il est important de dresser la liste de tous les auteurs ayant participé et/ou apporté une contribution scientifique importante, à la recherche soumise, tout en indiquant clairement l’ordre (rang) de chaque auteur (1er auteur, 2ème auteur, etc.)</font>
                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <i class="icon-arrow"></i>
                                    <b><font size="5">FABRICATION ET FALSIFICATION DE DONNEES</font></b>
                                </a></h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">

                                <p>
                                    <font size="5">Les travaux présentés, comportant des résultats expérimentaux fabriqués ou falsifiés, y compris la manipulation d'images, de statistiques, etc., entraînera une pénalité de falsification et de manipulation de données.  </font>
                                </p>

                            </div>
                        </div>
                    </div> </div> </div></div>					


        <h1  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>2.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SANCTIONS</b></font></h1><br>

        <p><font size="5">Dans le cas de violation de l’éthique de soumission au colloque mentionnée ci-dessus, les sanctions suivantes seront indiscutablement appliquées par le Colloque de l’ATM:</font></p><br>


        <p><font size="5">
            <i class="fa fa-minus-circle"></i>&nbsp; Refus immédiat du travail contrefait.</font></p>
        <p><font size="5">
            <i class="fa fa-minus-circle"></i>&nbsp; Le rejet immédiat de tous les autres travaux soumis au Colloque de l’ATM par l'un des auteurs de l'article contrefait</font></p>
        <p><font size="5">
            <i class="fa fa-minus-circle"></i>&nbsp; Blocage, de tous les auteurs, de toute nouvelle soumission au Colloque de l’ATM, que ce soit individuellement ou en association avec tout autre auteur du travail contrefait, ou même en collaboration avec d’autres auteurs </font></p>
        <p><font size="5">
            <i class="fa fa-minus-circle"></i>&nbsp; Interdiction à tout auteur ayant élaboré ou participé à un travail contrefait d’être membre du comité scientifique du Colloque de l’ATM




                                </div>

     </div>
                    </div>
    </div>
                </div></div>
</section>
	</div>

    <style>
        body {
            color: #000000;}

        i {
            color: #131658;
        }

    </style>

{% endblock %}

