{% extends ":front:Fronten.html.twig" %}
{% block title %}Ethics of submission{% endblock  %}
{% block body %}

  <div class="container">
						

  <section class="wrapper" >
       
          
           
            <div class="row animate-group">
                <div class="col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                    
                        <div class="icon-box-content">
                            <div align='left'><div align='justify'>

        <h1  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>1.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ETHICS OF SUBMISSION TO THE CONFERENCE</b></font></h1><br>

        <p><font size="5">To ensure the reliability, credibility and quality of the papers submitted and accepted at the ATM Symposium, researchers must adhere to the ethical standards of academic and scientific research. Indeed, the ATM Colloquium follows a code of strict conduct to comply with academic and scientific standards. The symposium insists on the respect of the best practices in terms of research and this avoiding the behaviors banished by the International Scientific Community.</font></p><br><br>

        <div class="row">
            <div class="col-md-8">
                <div class="panel-group accordion-custom accordion-teal" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="icon-arrow"></i>
                                    <b><font size="5">
PLAGIARISM</font></b>
                                </a></h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">

                                <p>
                                    <font size="5">A commitment to publish only original documents is required. Works that have been plagiarized from a research belonging to other authors, whether published or not, will be sanctioned for plagiarism.</font>
                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <i class="icon-arrow"></i>
                                    <b><font size="5">DOUBLE SUBMISSION</font> </b>
                                </a></h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">

                                <p>
                                    <font size="5">Works that have been published or are currently being published in other symposia or journals can not be submitted to the ATM Symposium at the same time, under penalty of double submission.
 </font>
                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <i class="icon-arrow"></i>
                                    <b><font size="5">
INAPPROPRIATE CONTRIBUTION OR ATTRIBUTION OF THE AUTHOR</font></b>
                                </a></h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">

                                <p>
                                    <font size="5">It is important to list all authors who have participated and / or contributed a significant scientific contribution to the research submitted, while clearly indicating the order (rank) of each author (1st author, 2nd author, etc.)</font>
                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <i class="icon-arrow"></i>
                                    <b><font size="5">DATA MANUFACTURE AND FALSIFICATION</font></b>
                                </a></h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">

                                <p>
                                    <font size="5">The work presented, including experimental results made or falsified, including the manipulation of images, statistics, etc., will entail a penalty of falsification and manipulation of data.  </font>
                                </p>

                            </div>
                        </div>
                    </div> </div> </div></div>					


        <h1  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>2.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
SANCTIONS</b></font></h1><br>

        <p><font size="5">In case of violation of the ethics of submission to the colloquium mentioned above, the following sanctions will undoubtedly be applied by the ATM Symposium:</font></p><br>


        <p><font size="5">
            <i class="fa fa-minus-circle"></i>&nbsp; Immediate refusal of forged work.</font></p>
        <p><font size="5">
            <i class="fa fa-minus-circle"></i>&nbsp; The immediate rejection of all other papers submitted to the ATM Symposium by one of the authors of the counterfeit article</font></p>
        <p><font size="5">
            <i class="fa fa-minus-circle"></i>&nbsp;  Blocking of all new submissions to the ATM Colloquium, either individually or in association with any other author of the forged work, or even in collaboration with other authors </font></p>
        <p><font size="5">
            <i class="fa fa-minus-circle"></i>&nbsp; Prohibition of any author who has developed or participated in counterfeit work to be a member of the Scientific Committee of the ATM Symposium




                                </div>

     </div>
                    </div>
    </div>
                </div></div>
</section>
	</div>

    <style>
        body {
            color: #000000;}

        i {
            color: #131658;
        }

    </style>

{% endblock %}

