{% extends ":front:Fronten.html.twig" %}
{% block title %}Call for papers{% endblock  %}
{% block body %}
    <div class="container">


        <section class="wrapper" >



            <div class="row animate-group">
                <div class="col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">

                        <div class="icon-box-content">
                            <div align='left'><div align='justify'>
                                    <div class="container">
                                        <center><p><b> <div class="shine" ><h2><font color="blue">The 06 & 07 April 2018 - Hammamet - Tunisia</font><br>
                                                            <font color="red">Opening of the tenders on 01 September 2017 at www.colloque-ATM.com</font><br>
                                                            <font color="blue">Deadline for submissions: December 01, 2017</font></h2></div></b></p></center>
                                    </div>

                                    <style>
                                        body {
                                            color: #131658;}

                                    </style>
                                    <style type="text/css" media="all">
                                        .shine
                                        {
                                            background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
                                            -webkit-background-size: 100px;

                                            color: rgba(255, 255, 255, 0.1);
                                            -webkit-background-clip: text;

                                            -webkit-animation-name: shine;
                                            -webkit-animation-duration: 2s;
                                            -webkit-animation-iteration-count: infinite;
                                        }

                                        @-webkit-keyframes shine
                                        {
                                            0%
                                            {
                                                background-position: top left;
                                            }
                                            100%
                                            {
                                                background-position: top right;
                                            }
                                        }

                                    </style>


                                    <p><font size="5">
                                        <b> The 16th International Symposium of the Tunisian Marketing Association (ATMC16)</b> will be an opportunity for participants to present their research and will provide a framework for fruitful scientific exchanges between academics and professionals. The symposium will be organized on <b> 06 and 07 April 2018 </b> by the Laboratory Enterprise and Research in Marketing (ERMA) of the Faculty of Economics and Management of Tunis (FSEGT). You are a novice or confirmed researcher and you want to share your thoughts with the scientific community, you will be offered the opportunity to present your contribution at this symposium.
                                    </p></font>			


                                    <h1 id="theme" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>1.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THE THEME OF THE CONFERENCE</b></font></h1><br> 


                                    <p><font size="5"><b>The 16th ATM Symposium will be organized around the theme of "MARKETING AND CULTURE".</b> Culture is the whole of social production. It is far from being frozen. It is renewed, specializes and recomposes permanently. The relationship between culture and consumer behavior has been studied for a long time by marketing researchers. This facet of consumer behavior remains highly valued by researchers. Family, acculturation, religiosity, etc., are the main dimensions of culture. The aspects related to religiosity have been of particular interest to marketers in the last few years. ATMC16 will be open to professionals and researchers in the marketing of Islamic products and services and will be an opportunity for exchanges, sharing of experiences and reflection . It will also be an opportunity to discover innovative and original marketing issues and to discuss new trends in this field.

                                        </font></p>

                                    <h1 id="table" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>2.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THE ROUND TABLE</b></font></h1><br> 

                                    <p><font size="5">A panel discussion will take place in the afternoon of the first day of the symposium. It will focus on <b> "The marketing of Islamic services" </b>. This debate will bring together professionals, civil society representatives, researchers and ATMC16 participants to discuss the theme. This debate will discuss the importance and prospects of development of Islamic products and services in Tunisia and around the world. Eventually, leaders of the three Islamic banks, the three Islamic insurers and the Islamic microfinance company will be actively present in the round table </font></p>

                                    <h1 id="session" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>3.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THE TRAINING SESSION</b></font></h1><br> 

                                    <p><font size="5">This 16th edition will also be the occasion to program academic trainings on very interesting themes and asked by the researchers: <br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;	  The process of « <b>scale creation</b> » <br>&nbsp;&nbsp;<b>Pr. Héla BEN MILED-CHERIF </b><br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;	Data analysis with  <b>SPHINX</b> 	<br>&nbsp;&nbsp;<b> Dr. Younès BOUGHZALA</b><br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;	Analysis of data <b>PLS vs AMOS</b> <br>&nbsp;&nbsp;<b> Pr. Fathi AKROUT</b>
                                        </font></p>

                                    <h1 id="partenaire scientifique " class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>4.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our scientific partners </b></font></h1><br> 

                                    <p><font size="5">A novelty during this 2018 edition: our partner <b>«International Journal of Islamic Marketing & Branding» (Inderscience)</b> has planned <b>a special issue in 2018</b> on Islamic marketing in the Arab Maghreb. <b>Eight papers written in English</b> will be selected from the papers accepted at the conference, to be published in this special issue, to be published in December 2018. Similarly, the best Arabic papers will be selected for publication in <b> «the Journal of Islamic Entrepreneurship» </b> . The symposium will also be an opportunity for researchers to present papers that could cover, among others, the following research areas:

                                    <section class="wrapper">
                                        <div class="container">
                                            <div id="pricing_table_example1" class="row">
                                                <div class="col-sm-12">

                                                    <div class="pricing-table col-sm-3 col-xs-12">
                                                        <h3>Themes<span><i class="fa fa-comments"> </i></span></h3>


                                                        <ul>
                                                            <li>
                                                                <b>
                                                                    Marketing and Culture</b> 

                                                            </li>
                                                            <li>
                                                                <b>Islamic Marketing</b>		
                                                            </li>
                                                            <li>
                                                                <b>Acculturation and consumer behavior</b>
                                                            </li>
                                                            <li>
                                                                <b>Products and services HALALS</b>
                                                            </li>
                                                            <li>
                                                                <b>Religiosity and Consumer Behavior</b>
                                                            </li>
                                                            <li>
                                                                <b>Marketing strategy</b>
                                                            </li>
                                                            <li>
                                                                <b>Marketing mix</b>
                                                            </li>
                                                            <li>
                                                                <b>Consumer behavior</b>
                                                            </li>
                                                            <li>
                                                                <b>Advertising strategies</b>
                                                            </li>
                                                            <li>
                                                                <b>Marketing, internet and social networks</b>
                                                            </li>
                                                            <li>
                                                                <b>Sports marketing</b>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="pricing-table col-sm-3 col-xs-12">
                                                        <h3>Themes<span><i class="fa fa-comments"> </i></span></h3>

                                                        <ul>
                                                            <li>
                                                                <b>The CSR</b> 
                                                            </li>
                                                            <li>
                                                                <b>The CRM</b> 
                                                            </li>
                                                            <li>
                                                                <b>The kids marketing </b> 
                                                            </li>
                                                            <li>
                                                                <b>Brand communities</b> 
                                                            </li>
                                                            <li>
                                                                <b>The resistance of the actors to the marketing actions</b> 
                                                            </li>
                                                            <li>
                                                                <b>Trust and food crisis</b> 
                                                            </li>
                                                            <li>
                                                                <b>New branding strategies</b> 
                                                            </li>
                                                            <li>
                                                                <b>New loyalty techniques</b> 
                                                            </li>
                                                            <li>
                                                                <b>New distribution strategies</b> 
                                                            </li>
                                                            <li>
                                                                <b>International strategies</b> 
                                                            </li>
                                                            <li>
                                                                <b>Ethics and sustainable marketing ...</b> 
                                                            </li>


                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                    </font></p>


                                    <h1 id="partenaire" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>5.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our partners </b></font></h1><br>

                                    <p><font size="5"><b>
                                            International Journal of Islamic Marketing & Branding</b><br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;	(Inderscience - ISSN online: 2055-0952 and ISSN print: 2055-0944) <br> 
                                        <i class="fa fa-angle-double-right"> </i> &nbsp; <a href="http://www.inderscience.com/jhome.php?jcode=ijimb">http://www.inderscience.com<br></a>	
                                        <b>Journal of Islamic Entrepreneurship</b> <br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;	(ISSN: 2058-5012)  <br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp; <a href="http://www.iimassociation.com">http://www.iimassociation.com</a><br>
                                        <b>SPHINX data analysis software</b><br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp; <a href="http://www.lesphinx-developpement.fr">http://www.lesphinx-developpement.fr</a><br>
                                        </font></p>


                                    <h1 id="Type" class="title"  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>6.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Types of communications </b></font></h1><br>


                                    <p><font size="5">The ATM Symposium is dedicated to the presentation and discussion of finalized papers (papers) in the form of:<br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;<b>Specific research with an empirical application,</b><br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;<b> Synthesis of the literature on a specific theme,</b> <br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;<b>Methodological or pedagogical reflection.</b>
                                        </font></p>

                                    <h1 id="evaluation" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>7.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Evaluation of Communications </b></font></h1><br>

                                    <p><font size="5">The submitted manuscripts will be subject to an anonymous evaluation process by <b> two evaluators </b>. Accepted papers will be grouped into homogeneous themes and presented in sessions chaired by sessions. In case the two opinions diverge (acceptance + refusal), the paper will be evaluated by a third reader.  </font></p>

                                    <h1 id="prix" class="title"  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>8.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Awards and publications of the best papers</b></font></h1><br> 

                                    <p><font size="5"><b>1.&nbsp;Prizes and publications of the best papers:</b>The scientific committee will award prizes for the best papers related to the specific themes of <b>the ATMC16:</b><br>
                                        <b>1.1.</b>&nbsp;<b>The Laamouri Institute</b> price will be awarded to the best communication on the basis of the originality of the issue addressed and the rigorous design of the research carried out.<br>
                                        <b>1.2.</b>&nbsp; <b>The Sphinx</b> price will be awarded to the best communication on <b>the basis of the qualitative and quantitative methodology followed.</b><br>
                                        The prizes will be distributed at the closing ceremony.<br>
                                        <b>2.&nbsp; best paper publications:</b> <b>The International Journal of Islamic Marketing and Branding </b> will be awarded for the best paper on Islamic marketing. The eight best accepted papers, written in English and dealing with the topic of Islamic marketing, will be published in a special issue of the newspaper which will be published in December 2018<br>
                                        <b>3.&nbsp;les actes du colloque (Conference Book) de l’ATMC16</b>
                                        </font></p>


                                    <h1 id="Doctorat" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>9.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Doctoral Workshops </b></font></h1><br>

                                    <p><font size="5">Two sessions will be devoted to the presentation of thesis work at an intermediate stage of advancement. PhD students will thus be able to benefit from comments and suggestions from professors and researchers. PhD students who wish to present their thesis progress must send <b>a summary of 10 pages maximum </b>to the organizing committee of the symposium, within the same deadline for submitting papers.
                                        </font></p>

                                    <h1 id="GUIDELINE" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>10.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"The ATMC GUIDELINE" submission  </b></font></h1><br>

                                    <p><font size="5">Submissions must comply with the following: <br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;<b>Writing can be done in French, English or Arabic</b><br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;<b> The text of the communication contains a maximum of</b> <font color="red"> 12 pages</font> (not including the bibliography and annexes) <br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;<b>The researcher must submit two files on the site www.colloque-ATM.com</b><br>
                                        <i class="fa fa-file-text"> </i> &nbsp;<b> File 1. Cover letter:</b> lthe title, the name of the author (s), their functions, contact details and e-mail addresses. This page will be detached in order to make the evaluation anonymous<br>
                                        <i class="fa fa-file-text"> </i> &nbsp;	<b>File 2. Manuscript:</b>the title, a summary of 50 words maximum (single spacing) and 5 key words. The title, abstract and keywords must be written in English and French.<br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;File in Word format, mandatory<br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp; Font: <b>CAMBRIA</b>, size 12 <br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;2.5 cm margins on all four sides <br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp; Interlining 1.5<br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;No header, no footer, <br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp; Pagination bottom right<br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;Tables and figures (numbered) are inserted in the text in the appropriate place.
                                        <br>Indicate their sources. <br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;Insert the bibliography and annexes at the end of the text.<br> 
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;<b>The bibliography must be presented according to APA standards as follows:</b> <br> 
                                        <i class="fa fa-hand-o-right"> </i> &nbsp; <b>Journal articles:</b> Name of the author followed by the initial of the first name (year), Full title of the article, title of the journal in italics, volume, number, page number. <br>
                                        <b><font color="red">Example:</font>Bagozzi R.P. et Yi Y. (1988), On the evaluation of structural equation models, Journal of the Academy of Marketing Science, 16(1), 74-94.</b><br>
                                        <i class="fa fa-hand-o-right"> </i> &nbsp;	<b> Works:</b> Name of the author followed by the initial of the first name (year), Full title of the work in italics, place of publication, name of the publisher. <br>
                                        <b><font color="red">Example :</font> Brochand B. et Lendrevie J., (2001), le Publicitor,Dalloz : Paris. 755 pages.</b><br>
                                        <i class="fa fa-hand-o-right"> </i> &nbsp;	<b>Proceedings of symposiums and colloquium:</b> Name of the author followed by the initial of the first name (year), Title of the communication, the title of the colloquium in italics, volume, place of the colloquium, page number.<br>
                                        <i class="fa fa-hand-o-right"> </i> &nbsp;	<b>Unpublished documents:</b> (nature of the document: thesis, research report, report ...): Name of the author followed by the initial of the first name (year), Full title of document, Nature of document, name of university or Of the school, place of reference. <br>
                                        <i class="fa fa-hand-o-right"> </i> &nbsp;<b>	  For a data taken from the internet: </b> Concerning Internet citations, the only mention of the site is not enough. It is also necessary to specify who is the author and / or institution (university, consulting firm, organization, ministry) and also specify the date of consultation<br>
                                        <i class="fa fa-hand-o-right"> </i> &nbsp;<b><font color="red">	Example :</font> GOUGEON, P., 2004, « The European Enterprise: Managing Cultural Diversity », <br>Les Échos, dans http://www.lesechos.fr/formations/entreprise_globale/articles/article_12_4.htm,  accessed on 3 March 2014.</b><br>
                                        <br>
                                        <b>IMPORTANT NOTE: Papers that do not comply with the instructions of the<font color="red"> "ATMC </font> GUIDELINE" indicated, will not be accepted by the reading committee.</font></b><br>
                                        </font></p>


                                    <h1 id="Deadline" class="title"  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>11.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deadline </b></font></h1><br>
                                    <table class="table">
                                        <tr>
                                            <td> <font size="5">
                                                Opening of communications submissions </font></td>
                                            <td> <font size="5">01 Septembre 2017</font></td>
                                        </tr>
                                        <tr>
                                            <td> <font size="5"><font color="red">Deadline for submission of communications</font></font></td>
                                            <td> <font size="5"><font color="red">01 December 2011</font></font></td>
                                        </tr>
                                        <tr>
                                            <td> <font size="5">Notification of decisions to authors</font></td>
                                            <td> <font size="4">20 January 2018</font></td>
                                        </tr>
                                        <tr>
                                            <td> <font size="5">Registration begins</font></td>
                                            <td> <font size="4">February 27, 2018</font></td>
                                        </tr>
                                        <tr>
                                            <td> <font size="5">Deadline for return of amended communicationsDate limite de retour des communications modifiées</font></td>
                                            <td> <font size="5">01 March 2018</font></td>
                                        </tr>
                                        <tr>
                                            <td> <font size="5"><font color="red">Date of the symposium </font></font></td>
                                            <td> <font size="5"><font color="red">06-07 April 2018</font></font></td>
                                        </tr>

                                    </table>
                                    <center><font size="5"><b>How to submit a paper?/b></font></center><br>
                                    <center><div style="width: 400px; padding-top: 15px; padding-bottom: 15px; border: 5px dotted #131658;; text-align: center; background: #dddddd; border-radius: 20px 0 20px 0;
                                                 border: 2px solid;
                                                 padding: 10px;
                                                 background: #dddddd;
                                                 border-top-right-radius: 2em;">
                                            <font size="5"><font color="red">To submit your papers, go to the following site: </font> <a href="www.colloque-ATM.com"><b>www.colloque-ATM.com</a></b><br>
                                            <font color="red">You must first register on the site then submit one or two papers per author</font><br>
                                        </div></center><br>
                                    PFor correspondence with the organizing committee of the 16th colloquium (abstracts, papers, etc.), please contact 
 <a href="fawzidekhil22@gmail.com"> <font color="red">fawzidekhil22@gmail.com</font></a><br>

                                    <b>Other links for more information:<br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;<a href="https://www.atm-marketing.com">https://www.atm-marketing.com</a><br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;<a href="https://web.facebook.com/groups/AssociationTunisienneDeMarketing/?fref=ts">www.facebook.com</a><br>
                                        <i class="fa fa-angle-double-right"> </i> &nbsp;<a href="https://web.facebook.com/events/187238438349261/">https://web.facebook.com/events/187238438349261/</a><br>
                                        <i class="fa fa-angle-double-right"> </i>  &nbsp;<a href="https://www.facebook.com/groups/RECHERCHEUNIVERSITAIRETN/">https://www.facebook.com/groups/RECHERCHEUNIVERSITAIRETN/</a></b><br></font>
                                    </font></p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div></div>
        </section>
    </div>
    <style>
        /* WHAT YOU NEED */
        .fading-side-menu.affix-top {
            opacity: 1;
            transition: opacity 1s
        }
        .fading-side-menu.affix {
            top: 11.5px;
        }
        .fading-side-menu.affix {
            opacity: 0.2;
            transition: opacity 5s
        }
        .fading-side-menu.affix:hover {
            opacity: 1;
            transition: opacity 0.3s
        }
        .fading-side-menu a {
            color: rgb(102, 102, 102);
        }
        .fading-side-menu a .fa {
            padding-right:15px;
        }
        hr { 
            border : 0;
            height: 10px; 
            background-image: linear-gradient(to right, rgb(252, 239, 71), rgb(52, 53, 109),rgb(252, 239, 71));
        }
        body {
            color: #131658;}

    </style>



</div>

<style>
    body {
        color: #000000;}
    i {
        color: #131658;
    }

</style>

{% endblock %}


