
{% extends ":front:Front.html.twig" %}
{% block title %}APPEL A COMMUNICATION{% endblock  %}
{% block body %}
<div class="container">
						

  <section class="wrapper" >
       
          
           
            <div class="row animate-group">
                <div class="col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                    
                        <div class="icon-box-content">
                            <div align='left'><div align='justify'>
    <div class="container">
        <center><p><b> <div class="shine" ><h2><font color="blue">Les 06 & 07 Avril 2018 - Hammamet - Tunisie</font><br>
                            <font color="red">Ouverture des soumissions le 01 Septembre 2017 au www.colloque-ATM.com</font><br>
                            <font color="blue">Date limite des soumissions : 01 Décembre 2017</font></h2></div></b></p></center>
    </div>

    <style>
        body {
            color: #131658;}

    </style>
    <style type="text/css" media="all">
        .shine
        {
            background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
            -webkit-background-size: 100px;

            color: rgba(255, 255, 255, 0.1);
            -webkit-background-clip: text;

            -webkit-animation-name: shine;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
        }

        @-webkit-keyframes shine
        {
            0%
            {
                background-position: top left;
            }
            100%
            {
                background-position: top right;
            }
        }

    </style>
    

                                <p><font size="5">
                                    <b> Le 16<sup>ème</sup> Colloque International de l’Association Tunisienne de Marketing (ATMC16)</b> sera l’occasion pour les participants de présenter leurs recherches et constituera un cadre pour de fructueux échanges scientifiques entre académiciens et professionnels. Le colloque sera organisé <b>les 06 et 07 Avril 2018 </b>par le Laboratoire Entreprise et Recherche en Marketing (ERMA) de la Faculté des Sciences Economiques et de Gestion de Tunis (FSEGT). Vous êtes chercheur débutant ou confirmé et vous souhaitez faire bénéficier la communauté scientifique de votre expérience et partager vos réflexions, l’occasion vous est offerte pour présenter votre contribution, lors de ce colloque.</p></font>			


                                <h1 id="theme" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>1.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LE THEME DU COLLOQUE</b></font></h1><br> 


                                <p><font size="5"><b>La 16ème édition du colloque de l’ATM se déroulera autour du thème du «MARKETING ET CULTURE».</b>
                                    La culture est l’ensemble de la production sociale. Elle est loin d’être figée. Elle se renouvelle, se spécialise et se recompose en permanence. La relation entre la culture et le comportement du consommateur a été étudiée depuis longtemps par les chercheurs en marketing. Cette facette du comportement du consommateur reste très prisée par les chercheurs. La famille, l’acculturation, la religiosité, etc., sont les principales dimensions de la culture. Les aspects reliés à la religiosité intéressent particulièrement depuis quelques années les marketeurs à travers le monde. <b>L'ATMC16</b> sera ouverte aux professionnels et aux chercheurs en marketing des produits et services islamiques et sera l’occasion d’échanges, de partage d'expériences et de réflexion. Il sera aussi une opportunité pour découvrir des problématiques marketing innovantes et originales et pour débattre des nouvelles tendances en la matière.
                                    </font></p>

                                <h1 id="table" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>2.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LA TABLE RONDE</b></font></h1><br> 

                                <p><font size="5">Un débat sous forme de table ronde aura lieu dans l’après-midi du 1er jour du colloque. Il portera sur <b>«Le marketing des services islamiques»</b>. Ce débat regroupera des professionnels, des représentants de la société civile, des chercheurs ainsi que les participants à l’ATMC16, pour débattre du thème. Ce débat permettra de discuter l’importance et les perspectives de développement des produits et services islamiques en Tunisie et à travers le monde. Eventuellement, des responsables des trois banques islamiques, des trois assurances islamiques et de la société de microfinances islamiques seront présents activement dans la table ronde</font></p>

                                <h1 id="session" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>3.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LA SESSION DE FORMATION</b></font></h1><br> 

                                <p><font size="5">Cette 16<sup>ème</sup> édition sera l’occasion aussi de programmer des formations académiques sur des thématiques très intéressantes et demandées par les chercheurs : <br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;	Le processus de « <b>création d’échelle</b> » <br>&nbsp;&nbsp;<b>Pr. Héla BEN MILED-CHERIF </b><br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;	L’analyse des données avec <b>SPHINX</b> 	<br>&nbsp;&nbsp;<b> Dr. Younès BOUGHZALA</b><br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;	L’analyse des données par <b>PLS vs AMOS</b> <br>&nbsp;&nbsp;<b> Pr. Fathi AKROUT</b>
                                    </font></p>

                                <h1 id="partenaire scientifique " class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>4.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nos partenaires scientifiques </b></font></h1><br> 

                                <p><font size="5">Une nouveauté pendant cette édition 2018 : notre partenaire « <b>International Journal of Islamic Marketing & Branding » (Inderscience)</b> a prévu <b>un numéro spécial en 2018</b> sur le marketing Islamique dans le Maghreb arabe. <b>Huit papiers rédigés en anglais</b> seront sélectionnés parmi les communications acceptées lors du colloque, pour être publiés dans ce numéro spécial, à partir de décembre 2018. De même,les meilleurs <b>papiers en langue</b> arabe seront sélectionnés pour être publié dans « <b>Journal of Islamic entrepreneurship </b>». Le colloque sera également l’occasion pour les chercheurs de présenter des papiers qui pourraient couvrir, entre autres, les domaines de recherche suivants :

                                <section class="wrapper">
                                    <div class="container">
                                        <div id="pricing_table_example1" class="row">
                                            <div class="col-sm-12">

                                                <div class="pricing-table col-sm-3 col-xs-12">
                                                    <h3>Thèmes<span><i class="fa fa-comments"> </i></span></h3>


                                                    <ul>
                                                        <li>
                                                            <b>Marketing et culture</b> 

                                                        </li>
                                                        <li>
                                                            <b>Le marketing islamique</b>		
                                                        </li>
                                                        <li>
                                                            <b>Acculturation et comportement du consommateur</b>
                                                        </li>
                                                        <li>
                                                            <b>Produit et services HALALS</b>
                                                        </li>
                                                        <li>
                                                            <b>Religiosité et comportement du consommateur</b>
                                                        </li>
                                                        <li>
                                                            <b>La stratégie marketing</b>
                                                        </li>
                                                        <li>
                                                            <b>Le mix marketing</b>
                                                        </li>
                                                        <li>
                                                            <b>Le comportement du consommateur</b>
                                                        </li>
                                                        <li>
                                                            <b>Les stratégies publicitaires</b>
                                                        </li>
                                                        <li>
                                                            <b>Le marketing, internet et réseaux sociaux</b>
                                                        </li>
                                                        <li>
                                                            <b>Le marketing sportif</b>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="pricing-table col-sm-3 col-xs-12">
                                                    <h3>Thèmes<span><i class="fa fa-comments"> </i></span></h3>

                                                    <ul>
                                                        <li>
                                                            <b>La RSE</b> 
                                                        </li>
                                                        <li>
                                                            <b>Le CRM</b> 
                                                        </li>
                                                        <li>
                                                            <b>Le kids marketing </b> 
                                                        </li>
                                                        <li>
                                                            <b>Les communautés de marques</b> 
                                                        </li>
                                                        <li>
                                                            <b>La résistance des acteurs aux actions marketing</b> 
                                                        </li>
                                                        <li>
                                                            <b>Confiance et crise alimentaire,</b> 
                                                        </li>
                                                        <li>
                                                            <b>Les nouvelles stratégies de marques,</b> 
                                                        </li>
                                                        <li>
                                                            <b>Les nouvelles techniques de fidélisation,</b> 
                                                        </li>
                                                        <li>
                                                            <b>Les nouvelles stratégies de distribution,</b> 
                                                        </li>
                                                        <li>
                                                            <b>Les stratégies à l’international,</b> 
                                                        </li>
                                                        <li>
                                                            <b>L’éthique et le marketing durable…</b> 
                                                        </li>


                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                </font></p>


                                 <h1 id="partenaire" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>5.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nos partenaires </b></font></h1><br>

                                <p><font size="5"><b>International Journal of Islamic Marketing & Branding</b><br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;	(Inderscience - ISSN online : 2055-0952 et ISSN print : 2055-0944) <br> 
                                    <i class="fa fa-angle-double-right"> </i> &nbsp; <a href="http://www.inderscience.com/jhome.php?jcode=ijimb" style="word-wrap: break-word;
                max-width: 100%;
    height: auto;">http://www.inderscience.com<br></a>	
                                    <b>Journal of Islamic Entrepreneurship</b> <br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;	(ISSN: 2058-5012)  <br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp; <a href="http://www.iimassociation.com" style="word-wrap: break-word;
                max-width: 100%;
    height: auto;">http://www.iimassociation.com</a><br>
                                    <b>Le logiciel d’analyses des données SPHINX</b><br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp; <a href="http://www.lesphinx-developpement.fr" style="word-wrap: break-word;
                max-width: 100%;
    height: auto;">http://www.lesphinx-developpement.fr</a><br>
                                    </font></p>


                                <h1 id="Type" class="title"  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>6.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Types de communications </b></font></h1><br>


                                <p><font size="5">Le colloque de l’ATM est dédié à la présentation et à la discussion des travaux de recherche finalisés (communications) sous forme de :<br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;<b>Recherche spécifique avec une application empirique</b><br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;<b>Synthèse de la littérature relative à un thème précis</b> <br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;<b>Réflexion méthodologique ou pédagogique</b>
                                    </font></p>

                                <h1 id="evaluation" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>7.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Évaluation des communications </b></font></h1><br>

                                <p><font size="5">Les manuscrits soumis feront l'objet d'un processus d'évaluation anonyme par <b>deux évaluateurs</b>. Les communications acceptées seront regroupées en thèmes homogènes et présentées lors de sessions animées par des présidents de séances. Au cas où les deux avis divergent (acceptation + refus), le papier sera évalué par un 3<sup>ème</sup> lecteur.  </font></p>

                                <h1 id="prix" class="title"  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>8.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prix et publications des meilleurs papiers</b></font></h1><br> 

                                <p><font size="5"><b>1.&nbsp;Prix et publications des meilleurs papiers :</b> Le comité scientifique décernera des prix aux meilleures communications se rapportant aux thèmes spécifiques de <b>l’ATMC16 :</b><br>
                                    <b>1.1.</b>&nbsp;Le prix de <b>l’Institut Laamouri</b> qui sera attribué à la meilleure communication sur la base de l’originalité , de la problématique traitée et de la rigueur du design de la recherche menée.<br>
                                    <b>1.2.</b>&nbsp;Le Prix <b>Sphinx sera</b> attribué à la meilleure communication sur la base de la <b>méthodologie qualitative et quantitative suivie.</b><br>
                                    Les prix seront distribués lors de la cérémonie de clôture.<br>
                                    <b>2.&nbsp;Publications des meilleurs papiers :</b> Le Prix de l’<b>International Journal of Islamic Marketing and Branding sera</b> attribué à la meilleure communication relative au marketing islamique. Les huit meilleurs papiers acceptés, rédigés en anglais et traitant du sujet du marketing islamique seront publiés dans un numéro spécial du journal qui paraitra en décembre 2018.<br>
                                    <b>3.&nbsp;les actes du colloque (Conference Book) de l’ATMC16</b>
                                    </font></p>


                                <h1 id="Doctorat" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>9.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ateliers Doctoraux </b></font></h1><br>

                                <p><font size="5">Deux sessions seront consacrées à la présentation des travaux de thèses à un stade intermédiaire d’avancement. Les doctorants pourront ainsi bénéficier des commentaires et suggestions des professeurs et des chercheurs-participants. Les doctorants qui désirent présenter leur avancement de thèse doivent envoyer <b>un résumé de 10 pages maximum</b> au comité d’organisation du colloque, dans les mêmes délais de soumissions des communications.
                                    </font></p>

                                <h1 id="GUIDELINE" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>10.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’ "ATMC GUIDELINE" de soumission  </b></font></h1><br>

                                <p><font size="5">Les communications soumises doivent respecter les consignes suivantes : <br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;<b>La rédaction peut se faire en français, anglais ou en arabe</b><br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;<b>Le texte de la communication comprend au maximum</b> <font color="red">12 pages</font> (sans compter la bibliographie et les annexes) <br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;<b>Le chercheur doit soumettre deux fichiers sur le site www.colloque-ATM.com</b><br>
                                    <i class="fa fa-file-text"> </i> &nbsp;<b> Fichier 1. Cover letter : </b> le titre, le nom du ou des auteurs, leurs fonctions, coordonnées et adresses mails. Cette page sera détachée afin de rendre l'évaluation anonyme.<br>
                                    <i class="fa fa-file-text"> </i> &nbsp;	<b>Fichier 2. Manuscript : </b>le titre, un résumé de 50 mots au maximum (interligne simple) et 5 mots clés. Le titre, le résumé et les mots clés doivent être rédigés en français et en anglais.<br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;Fichier sous format Word, obligatoirement<br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;Police de caractères :<b> CAMBRIA</b>, taille 12 <br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;Marges de 2,5 cm des quatre côtés <br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;Interligne 1,5 <br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;Pas d'entête, ni pied de page <br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;Pagination en bas à droite<br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;Les tableaux et figures (numérotés) sont insérés dans le texte à l'endroit approprié <br>Indiquez leurs sources <br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;Insérer à la fin du texte la bibliographie et les annexes<br> 
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;<b>La bibliographie doit être présentée selon les normes APAcomme suit :</b> <br> 
                                    <i class="fa fa-hand-o-right"> </i> &nbsp; <b>Articles de revues :</b> Nom de l’auteur suivi de l’initiale du prénom (année), Titre complet de l’article, titre de la revue en italique, volume, numéro, numéro des pages <br>
                                    <b><font color="red">Exemple : </font>Bagozzi R.P. et Yi Y. (1988), On the evaluation of structural equation models, Journal of the Academy of Marketing Science, 16(1), 74-94</b><br>
                                    <i class="fa fa-hand-o-right"> </i> &nbsp;	<b>Ouvrages :</b> Nom de l’auteur suivi de l’initiale du prénom (année), Titre complet de l’ouvrage en italique, lieu de publication, nom de l’éditeur<br>
                                    <b><font color="red">Exemple : </font> Brochand B. et Lendrevie J., (2001), le Publicitor,Dalloz : Paris. 755 pages</b><br>
                                    <i class="fa fa-hand-o-right"> </i> &nbsp;	<b>Actes de colloques et de colloque :</b> Nom de l’auteur suivi de l’initiale du prénom (année), Titre de la communication, l’intitulé du colloque en italique, volume, lieu du colloque, numéro des pages<br>
                                    <i class="fa fa-hand-o-right"> </i> &nbsp;	<b>Documents non publiés :</b> (nature du document : thèse, cahier de recherche, rapport…) : Nom de l’auteur suivi de l’initiale du prénom (année), Titre complet du document, Nature du document, nom de l’université ou de l’école, lieu de référence <br>
                                    <i class="fa fa-hand-o-right"> </i> &nbsp;<b>	Pour une donnée tirée d’internet :</b> Concernant les citations d’Internet, la seule mention du site ne suffit pas. Il faut également préciser qui est l’auteur et/ou quelle est l’institution (université, cabinet de conseil, organisation, ministère) et aussi préciser la date de consultation<br>
                                    <i class="fa fa-hand-o-right"> </i> &nbsp;<b><font color="red">	Exemple :</font> GOUGEON, P., 2004, « L’entreprise européenne : gérer la diversité culturelle », <br>Les Échos, dans<a href=" http://www.lesechos.fr/formations/entreprise_globale/articles/article_12_4.htm"> www.lesechos.fr</a>,  consulté le 3 mars 2014</b><br>
                                    <br>
                                    <b>REMARQUE IMPORTANTE: Les papiers ne respectant pas les consignes de l’<font color="red">“ATMC GUIDELINE”</font> indiquées, ne seront pas admis par le comité de lecture</b><br>
                                    </font></p>


                          <h1 id="Deadline" class="title"  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>11.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deadline </b></font></h1><br>
                                <div style="overflow-x:auto;">
                                <table class="table">
                                    <tr>
                                        <td> <font size="5">Ouverture des soumissions des communications</font></td>
                                        <td> <font size="5">01 septembre 2017</font></td>
                                    </tr>
                                    <tr>
                                        <td> <font size="5"><font color="red">Date limite d’envoi des communications</font></font></td>
                                        <td> <font size="5"><font color="red">01 décembre2017</font></font></td>
                                    </tr>
                                    <tr>
                                        <td> <font size="5">Notification des décisions aux auteurs</font></td>
                                        <td> <font size="4">20 janvier 2018</font></td>
                                    </tr>
                                    <tr>
                                        <td> <font size="5">Début des inscriptions</font></td>
                                        <td> <font size="4">	27 février 2018</font></td>
                                    </tr>
                                    <tr>
                                        <td> <font size="5">Date limite de retour des communications modifiées</font></td>
                                        <td> <font size="5">	01 mars 2018</font></td>
                                    </tr>
                                    <tr>
                                        <td> <font size="5"><font color="red">Date du colloque</font></font></td>
                                        <td> <font size="5"><font color="red">06-07 avril 2018</font></font></td>
                                    </tr>

                                </table></div>
                                  <center><font size="5"><b>Comment soumettre un papier ?</b></font></center><br>
                                <center><div style="width: 400px; padding-top: 15px; padding-bottom: 15px; border: 5px dotted #131658;; text-align: center; background: #dddddd; border-radius: 20px 0 20px 0;
                                             border: 2px solid;
                                             padding: 10px;
                                             background: #dddddd;
                                             border-top-right-radius: 2em; max-width: 100%;
    height: auto;">
                                        <font size="5"><font color="red">Pour soumettre vos papiers, allez sur le site suivant :</font> <a href="www.atm-colloque.com"><b>www.atm-colloque.com</a></b><br>
                                        <font color="red">Vous devez d’abord vous inscrire sur le site ensuite soumettre un ou deux papiers par auteur</font><br>
                                    </div></center><br>
                                    Pour toute correspondance avec le comité d’organisation du 16<sup>ème</sup> colloque (les résumés, les communications, etc.), veuillez vous adresser exclusivement à  <a href="atmcolloque2018@gmail.com" style="word-wrap: break-word;
                max-width: 100%;
    height: auto;"> <font color="red">atmcolloque2018@gmail.com</font></a><br>

                                 <b>Autres liens pour plus d’informations :<br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;<a href="https://www.facebook.com/groups/AssociationTunisienneDeMarketing/" style="word-wrap: break-word;
                max-width: 100%;
    height: auto;">https://www.facebook.com/groups/AssociationTunisienneDeMarketing/</a><br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;<a href="https://www.facebook.com/groups/1571896059768268/" style="word-wrap: break-word;
                max-width: 100%;
    height: auto;">https://www.facebook.com/groups/1571896059768268/</a><br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;<a href="https://www.facebook.com/groups/RECHERCHEUNIVERSITAIRETN/" style="word-wrap: break-word;
                max-width: 100%;
    height: auto;">https://www.facebook.com/groups/RECHERCHEUNIVERSITAIRETN/</a><br>
                                    <i class="fa fa-angle-double-right"> </i>  &nbsp;<a href="https://www.facebook.com/groups/331779420212982/" style="word-wrap: break-word;
                max-width: 100%;
    height: auto;">https://www.facebook.com/groups/331779420212982/</a></b><br></font>
                                    


                                </font></p>

                                </div>

                        </div>
                    </div>
    </div>
                </div></div>
</section>
	</div>
                 <style>
                    /* WHAT YOU NEED */
                    .fading-side-menu.affix-top {
                        opacity: 1;
                        transition: opacity 1s
                    }
                    .fading-side-menu.affix {
                        top: 11.5px;
                    }
                    .fading-side-menu.affix {
                        opacity: 0.2;
                        transition: opacity 5s
                    }
                    .fading-side-menu.affix:hover {
                        opacity: 1;
                        transition: opacity 0.3s
                    }
                    .fading-side-menu a {
                        color: rgb(102, 102, 102);
                    }
                    .fading-side-menu a .fa {
                        padding-right:15px;
                    }
                    hr { 
                        border : 0;
                        height: 10px; 
                        background-image: linear-gradient(to right, rgb(252, 239, 71), rgb(52, 53, 109),rgb(252, 239, 71));
                    }
                    body {
                        color: #131658;
                        
                    }
                     i {
                 
                 max-width: 100%;
                 height: auto;
                color: #131658;
                     }
                    


                </style>


        </div>

        <style>
            body {
                color: #000000;}
            i {
                color: #131658;
            }

        </style>

    {% endblock %}

