  {% extends ":front:Front.html.twig" %}
{% block title %}Conférence Venue{% endblock  %}
{% block body %}

<div class="container">
						

  <section class="wrapper" >
        <div class="container">
          
           
            <div class="row animate-group">
                <div class="col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                    
                        <div class="icon-box-content">
                            <div align='left'><div align='justify'>
                        <div class="row">
                            <div class="col-md-12"> 
<h1  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>1.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conférence Venue</b></font></h1><br>
<p><font size="5">La 16<sup>ème</sup> édition du colloque de l’ATM se déroulera à l’hôtel MEHARI Hammamet, dans la région de Yasmine Hammamet. Hammamet se trouve à 65 km de Tunis. Afin de réserver votre hébergement pour le 16<sup>ème</sup> colloque de l’ATM, nous vous invitons à remplir le fichier d'inscription suivant et de le renvoyer sur notre adresse : atmcolloque2018@gmail.com</p>
<b><font color="#212358"><a  href="{{  path('front_inscription') }}">cliquez ici</a></font></b>
<p>Pour plus d'informations sur le lieu de l'évènement, vous pouvez  cliquer sur le lien suivant:<br>
<a href="http://www.goldenyasmin.com/"> http://www.goldenyasmin.com/ </a></p> </font>

    <iframe src="https://www.google.com/maps/d/embed?mid=1nEVk182rHWJFh9rvXmg0jaVTJa4" width="640" height="480"></iframe>

</section>
	</div>
<style>
body {
    color: #000000;}

i {
	color: #131658;
}

</style>

    {% endblock %}