  {% extends ":front:Fronten.html.twig" %}
{% block title %}ATM Guidelines{% endblock  %}
{% block body %}

<div class="container">
						

  <section class="wrapper" >
        <div class="container">
          
           
            <div class="row animate-group">
                <div class="col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                    
                        <div class="icon-box-content">
                            <div align='left'><div align='justify'>
                        <div class="row">
                            <div class="col-md-12"> 
<h1  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>1.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Venue Conference</b></font></h1><br>
<p><font size="5">
The 16th edition of the ATM Symposium will take place at the MEHARI Hammamet Hotel, in the Yasmine Hammamet area. Hammamet is 65 km from Tunis. In order to book your accommodation for the 16th ATM Symposium, please contact: </p><br>
<p>You can access to more detailed information in the attachment below.<br>
<a href="http://www.goldenyasmin.com/">CLICK here</a></p> </font>

fig

<h1  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>2.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Access to the symposium</b></font></h1><br>


<p><font size="5"><i><b>By bus</b></i><br>
stop «  Vinci stop » - Lines 2, 5, 34, 57<br>
stop « Gare de Tours » - Lines 3, 11, 17, 19</p>
<p><font size="5"><i><b>By train</b></i><br>
Hammamet is served by<br>
•Paris Montparnasse - Tours : 1h00<br>
Find the timetables on the SNCF website.</p>
<p><font size="5"><i><b>By car</b></i><br>
Tours and Vinci are at the heart of a crossroads with the A10 (Paris-Spain), the A28 (Calais-Bayonne) and the A85 (Nantes-Lyon) and benefit from 5 national and / or departmental services RN 10, RD 938, RD 952, RD 976, RD 943) providing the link with the main French metropolises.<br>
•  Paris - Tours: 2h20 / 240km<br>
Find the map by clicking here.</p>
<p><font size="5"><i><b>By plane</b></i><br>
Located 10 minutes from downtown Tunis, Tours - Loire Valley Airport offers regular flights to London-Stansted Airport HUB to dozens of destinations around the world. Tours is also directly connected in 1h35 from TGV to Roissy - Charles de Gaulle.
Find flight times on the website of <br></p><br><br>

<h1  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>3.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registration</b></font></h1><br>
tableau<br>
Choose from the formulas below the one that suits you, then register from the following link: https://www.ATM-colloque.com/SignUp 
<br><b>Informations : </b>
<li>The "accommodation" offer only the hotel where the congress will be held.</li>
<li>Conference registration fees include access to sessions, documents, breaks, lunches </li>
<li>The gala dinner is limited to </li>
<p><font size="5">The hotel ...... is located<br>

    Delegates will have to pay an invoice at the end of the conference </font></p>

     


                            </div>
                     </div>
                    </div>
    </div>
                </div></div>
</section>
	</div>
<style>
body {
    color: #000000;}

i {
	color: #131658;
}

</style>

    {% endblock %}
