 {% extends ":front:Front.html.twig" %}
{% block title %}SOUMISSION D’UN PAPIER AU COLLOQUE DE L’ATM {% endblock  %}
{% block body %}

  <div class="container">
						

  <section class="wrapper" >
       
          
           
            <div class="row animate-group">
                <div class="col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                    
                        <div class="icon-box-content">
                            <div align='left'><div align='justify'>
                                    <p><h1 ><font color="#212358"><b>Pour soumettre votre papier au colloque de l’ATM, vous devez procéder comme suit:</b></font></h1><br>
</p>
        <h1  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>1.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VOUS INSCRIRE SUR LE SITE WEB:</b></font></h1><br>

        <p><font size="5">À partir de cette 16ème édition du colloque international de l’ATM, la soumission des papiers se fera en ligne à partir du site web du colloque (ajouter adresse du site de l’ATM). Pour soumettre votre article, vous devez d’abord vous inscrire et créer votre <b>compte personnel</b> sur la plateforme électronique du colloque en choisissant vos codes personnels : <b>Login + Password.</b><br>
            <b><a href="{{  path('sign_up') }}">Cliquez ici pour vous inscrire</a></b></font></p><br><br>

        				


        <h1  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>2.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LIRE  L'ATM GUIDELINES</b></font></h1><br>

        <p><font size="5">Vous devez lire attentivement les instructions aux auteurs <b>« ATM MANUSCRIPT GUIDELINES »</b> et <b>« ATM COVER LETTER GUIDELINES »</b> et vous assurer que votre soumission est conforme.<br>
            <b><a href="{{  path('front_manuscript') }}">Cliquez ici pour téléchargez l’« ATM MANUSCRIPT GUIDELINES »</a></b><br>
            <b><a href="{{  path('front_coverletter') }}">Cliquez ici pour téléchargez l’« ATM COVER LETTER GUIDELINES »</a></b><br>
            </font></p><br>


        <h1  style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>3.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SOUMISSION EN LIGNE</b></font></h1><br>
        <p><font size="5">Vous devez vous connecter à votre compte personnel en utilisant vos codes personnels (Login + Password) et  procéder ainsi à la soumission de votre papier.<br>

            <b><a href="{{  path('front_type') }}">Cliquez ici pour soumettre.
                </a></b></font><br><br>
        <font size="5"><b>Remarque:</b></font>
 <br>
 <br>

        <p><font size="5">Afin d’éviter tout encombrement sur le site, il est recommandé de soumettre votre papier avant la date limite de soumission, soit le 01 décembre 2017 avant minuit (24h). Si vous rencontrez des problèmes lors de la soumission, n’hésitez pas à réessayer de vous connecter à des horaires différés. Il est fortement conseillé d’éviter de soumettre le dernier jour. Si les problèmes de soumission persistent toujours, vous pouvez envoyer votre papier à l’adresse suivante: <b><font color="#212358">atmcolloque2018@gmail.com</font></b>
            </font></p><br>




                                </div>

     </div>
                    </div>
    </div>
                </div></div>
</section>
	</div>

    <style>
        body {
            color: #000000;}

        i {
            color: #131658;
        }

    </style>

{% endblock %}

