 {% extends ":front:Fronten.html.twig" %}
{% block title %}SUBMISSION OF A PAPER AT THE ATM SYMPOSIUM{% endblock  %}
{% block body %}
     <div class="container">
    <section class="wrapper">
       

            <div class="row animate-group">
                <div class="col-md-offset-0 col-md-12 col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                        <i class="icon-box-icon fa fa-pencil"></i>
                        <div class="icon-box-content">
                            <div align='left'><div align='justify'>
  <p><font size="5">Before submitting your manuscript, please read carefully the «<b>ATM MANUSCRIPT GUIDELINES</b>» et «<b>ATM COVER LETTER GUIDELINES</b>»  instructions and ensure that your submission is compliant.</p></font >
  <p><font size="5">Click here to download the <b> «<b> ATM GUIDELINES SEMINAR </b>» </b>  </p></font>
  <p><font size="5">Visit <a href="https://www.ATM-colloque.com"> https://www.ATM-colloque.com </a>. To log in and submit your article online. It is an online submission system and a peer review system. </p></font>
  <p><font size="5">If you don't have an account yet, please create your personal account on the platform <a href="https://www.ATM-colloque.com"> https://www.ATM-colloque.com </a>. Then you can proceed with the submission of your paper.  </p></font >
  <p><font size="5">If you already have an account at <a href="https://www.ATM-colloque.com"> https://www.ATM-colloque.com </a>, you can login directly using your settings <b> (LOGIN + PASSWORD). </b> 
<b>Click here to submit</b>  </p></font >
 <br>
 <br>
<font size="5"><b>Note:</b></font>
 <br>
 <br>

  <p><font size="5">To avoid any congestion on the site, it is recommended to submit your paper before the deadline of submission, ie December 01, 2017 before midnight (24h). </P> </font>
   <p> <font size = "5"> If you have problems submitting, please try again to log in to a deferred schedule. It is strongly advised to avoid submitting the last day. </p> </font>
   <p> <font size = "5"> If submission issues still persist, you can submit your paper to: <a href="fawzidekhil22@gmail.com"> <b> fawzidekhil22@gmail.com </b> </a> </p> </font>

    

<style>
body {
    color: #000000;}

i {
  color: #131658;
}

</style>
                                </div></div>
                    </div>
    </div>
                </div></div>
</section>
	</div>
{%endblock%}
