{% extends ":front:Front.html.twig" %}
{% block title %}NOUVEAUTES{% endblock  %}
{% block body %}
<div class="container">
						

  <section class="wrapper" >
       
          
           
            <div class="row animate-group">
                <div class="col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                    
                        <div class="icon-box-content">
                            <div align='left'><div align='justify'>
   

    <style type="text/css" media="all">
        .shine
        {
            background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
            -webkit-background-size: 100px;

            color: rgba(255, 255, 255, 0.1);
            -webkit-background-clip: text;

            -webkit-animation-name: shine;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
        }

        @-webkit-keyframes shine
        {
            0%
            {
                background-position: top left;
            }
            100%
            {
                background-position: top right;
            }
        }

    </style>
    

                             

                                <h1 id="theme" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>1.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un site web interactif </b></font></h1><br> 


                                <p><font size="5">Une nouveauté exceptionnelle pendant cette 16ème édition ATMC16 : Exclusivement cette année, tous les papiers et avancements de thèse de doctorat seront soumis directement sur le nouveau site web interactif de l’ATM.
                                    </font></p>

                                <h1 id="table" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>2.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un partenariat scientifique </b></font></h1><br> 

                                <p><font size="5">Une nouveauté pendant cette édition 2018 : notre partenaire <b> « International Journal of Islamic Marketing & Branding » (Inderscience)</b> a prévu <b>un numéro spécial en 2018 </b> sur le marketing Islamique dans le Maghreb arabe. <b>Huit papiers rédigés en anglais</b> seront sélectionnés parmi les communications acceptées lors du colloque, pour être publiés dans ce numéro spécial, à paraitre en décembre 2018. De même,<b> les meilleurs papiers en langue arabes </b>seront sélectionnés pour être publié dans <b> « Journal of Islamic entrepreneurship »</b>. </font></p>
                                <h1 id="session" class="title" style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"><b><i>3.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LA SESSION DE FORMATION</b></font></h1><br> 

                                <p><div align='justify'><font size="5"><b>International Journal of Islamic Marketing & Branding </b> <br>
                                    • &nbsp;	(Inderscience - ISSN online : 2055-0952 et ISSN print : 2055-0944)  <br>
                                    •&nbsp;	<a href='http://www.inderscience.com/jhome.php?jcode=ijimb'>http://www.inderscience.com/jhome.php?jcode=ijimb</a> <br>
                                    <b>Journal of Islamic Entrepreneurship </b><br>
                                    •&nbsp;	(ISSN: 2058-5012)  <br>
                                    •&nbsp;<a href='http://www.iimassociation.com'>	http://www.iimassociation.com </a><br>
                                    <b>Le logiciel d’analyses des données SPHINX</b><br>
                                    •&nbsp;<a href='http://www.lesphinx-developpement.fr'>http://www.lesphinx-developpement.fr</a></font></div></p> <br>

                                <h1 style="background : rgba(255, 143, 0, 0.24) ;"><font color="#212358"> <b><i>3.</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Des sessions de formation</b></h1></font><br> 
                                 <p><div align='justify'><font size="5">
                                     Cette 16ème édition sera l’occasion aussi de programmer des formations académiques sur des thématiques très intéressantes et demandées par les chercheurs : <br>
                                     <i class="fa fa-angle-double-right"> </i> &nbsp;	L’analyse des données par <b>PLS vs AMOS&nbsp;&nbsp;&nbsp;&nbsp; 	: Pr. Fathi AKROUT </b> <br>
                                     <i class="fa fa-angle-double-right"> </i> &nbsp;	Le processus de <b> « création d’échelle » &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: Pr. Héla BEN MILED-CHERIF </b><br>
                                    <i class="fa fa-angle-double-right"> </i> &nbsp;	L’analyse des données avec <b> SPHINX &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		: Dr Younès BOUGHZALA  </b><br>
</font></div></p> <br>
                                </div>

                        </div>
                    </div>
    </div>
                </div></div>
</section>
	</div>
                <style>
                    /* WHAT YOU NEED */
                    .fading-side-menu.affix-top {
                        opacity: 1;
                        transition: opacity 1s
                    }
                    .fading-side-menu.affix {
                        top: 11.5px;
                    }
                    .fading-side-menu.affix {
                        opacity: 0.2;
                        transition: opacity 5s
                    }
                    .fading-side-menu.affix:hover {
                        opacity: 1;
                        transition: opacity 0.3s
                    }
                    .fading-side-menu a {
                        color: rgb(102, 102, 102);
                    }
                    .fading-side-menu a .fa {
                        padding-right:15px;
                    }
                    hr { 
                        border : 0;
                        height: 10px; 
                        background-image: linear-gradient(to right, rgb(252, 239, 71), rgb(52, 53, 109),rgb(252, 239, 71));
                    }
                    body {
                        color: #131658;}

                </style>



        </div>

        <style>
            body {
                color: #000000;}
            i {
                color: #131658;
            }

        </style>

    {% endblock %}


